# npm
node_modules
# package-lock.json  <-- NE PAS IGNORER
npm-shrinkwrap.json

*.log
*.gz
.env
# Ignorer le contenu des dossiers de public/
src/public/images/*
src/public/audio_song/*
src/public/video_song/*

# MAIS garder les fichiers .gitkeep
!src/public/images/.gitkeep
!src/public/audio_song/.gitkeep
!src/public/video_song/.gitkeep
# Coveralls
.nyc_output
coverage

# Benchmarking
benchmarks/graphs

# ignore additional files using core.excludesFile
# https://git-scm.com/docs/gitignore.env
