# npm
node_modules
package-lock.json
npm-shrinkwrap.json
*.log
*.gz
.env
# Ignorer le contenu des dossiers de public/
public/images/*
public/audio_song/*
public/video_song/*

# MAIS garder les fichiers .gitkeep
!public/images/.gitkeep
!public/audio_song/.gitkeep
!public/video_song/.gitkeep
# Coveralls
.nyc_output
coverage

# Benchmarking
benchmarks/graphs

# ignore additional files using core.excludesFile
# https://git-scm.com/docs/gitignore.env
