services:
  - type: web
    name: disktro-backend
    env: docker
    plan: starter # Plan Render pour ton backend
    region: frankfurt
    dockerfilePath: ./Dockerfile
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 3000
      - key: DATABASE_URL
        sync: false # Ajouter manuellement la vraie URL MySQL dans le dashboard Render
